{{>header}}
<h1>Eliminar al estudiante</h1>
{{{eliminar cedula}}}
<table class="table">
    <thead>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>País</th>
    </thead>
    <tbody>
        {{{listar}}}
    </tbody>
</table>

<br><hr><br>
<!-- ****************************************Curso *******************************-->
<h1>Eliminar al curso</h1>
{{{eliminarC id}}}
<table class="table">
    <thead>
        <th>ID</th>
        <th>Nombre de curso</th>
        <th>Costo</th>
    </thead>
    <tbody>
        {{{listarC}}}
    </tbody>
</table>



{{>footer}}