<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>{{titulo}}</title>
</head>
<body>
    <center>
        <div class="container">   
            <h1 class="display-1">{{titulo}}</h1>
            <img src="img/icon_error.png" class="img-fluid" alt="error pagina">
            <h3 class="display-4">{{found}}</h3>
            <br><br>
            <a href="/" class="shadow p-3 mb-5 bg-body rounded btn btn-light">Volver a la pagina de inicio</a>
        </div>
    </center>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>